@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --brand-teal: #00C1A2;
  --brand-navy: #111827;
  --brand-light-gray: #F9FAFB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-teal: var(--brand-teal);
  --color-brand-navy: var(--brand-navy);
  --color-brand-light-gray: var(--brand-light-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }
}